
.tdActions {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.tdActions button {
    padding: var(--space-2xs) var(--space-xs);
}

.actionEdit {
    color: var(--primary-color);
}

.actionDelete {
    color: var(--text-error) !important;
}

.actionDelete:hover:not(:disabled) {
    color: var(--text-error) !important;
}

.actionSee{
    color: var(--text-success);
}