.adminContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    /* Evita que a rolagem principal da página apareça */
    overflow: hidden;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;

    /* Sidebar colapsada */
    margin-left: 60px;
    width: 100%;
    overflow: hidden;

    transition: margin-left 0.3s ease;
}

.pageContent {
    flex: 1;
    background-color: var(--bg-dark);
    position: relative;
    display: flex;
    flex-direction: column;
    /* Scroll INDEPENDENTE para o conteúdo da página */
    overflow-y: auto;
}

.pageWrapper {
    flex: 1;
    padding: var(--space-sm);
}

@media (min-width: 768px) {
    .content {
        margin-left: 250px;
    }

    /* Sidebar colapsada no desktop */
    .collapsedContent {
        margin-left: 75px !important;
    }

    .pageContent {
        margin-bottom: 72px;
    }
}