.adminContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* Evita que a rolagem principal da página apareça */
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 
  MOBILE FIRST: O conteúdo ocupa 100% menos a largura da Sidebar (60px)
  width: calc(100% - 60px);

  @media (min-width: ${BREAKPOINT}) {
    DESKTOP: O conteúdo ocupa 100% menos a largura da Sidebar (250px)
    width: calc(100% - 250px);
  } */

.pageContent {
    background-color: var(--bg-dark);
    flex: 1;
    padding: var(--space-sm);
    overflow-y: auto;
}