.freightsHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-sm);
    gap: var(--space-sm);
}

.freightsHeaderDetails {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    text-align: center;
}

.freightsHeaderDetails p {
    color: var(--text-light);
}

@media (min-width: 768px) {
    .freightsHeader {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .freightsHeaderDetails {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
        text-align: justify;
    }
}