/* ===========================================
   DESIGN TOKENS COMPLETOS
   =========================================== */
:root {
  
  /* Cores principais de identidade */
  --primary-color: #244ed4; /* identidade da marca */
  --secondary-color: #a755f7; /* tom de apoio */

  /* Cores de bordas */
  --border-dark: #244ed4; 
  --border-light: #e7e8ea; 

  /* Cores de texto */
  --text-dark: #111926;
  --text-light: #5c6672; 
  --text-accent: #244ed4; /* destaques, links, botões */
  --text-muted: #646667; /* elementos desabilitados ou menos destacados */
  --text-success: #4d9065; /* sucesso */
  --text-error: #df4648; /* erro */
  --text-warning: #8c5918; /* aviso */

  /* Cores de fundo */
  --bg-light: #fff;
  --bg-dark: #f9fafc;
  --bg-accent: #eff6ff; /* destaques, links, botões */
  --bg-muted: #E0E0E0; /* elementos desabilitados ou menos destacados */
  --bg-success: #dcfce7; /* sucesso */
  --bg-error: #fee2e1; /* erro */
  --bg-warning: #fef9c2; /* aviso */

  /* Tipografia */
  --font-family-primary:  "Inter", sans-serif;

  /* Tamanhos de fonte - Regra do 8 (múltiplos de 8px) */
  --text-xs: 0.5rem;     /* 8px */
  --text-sm: 0.75rem;   /* 12px (exceção) */ 
  --text-base: 1rem;     /* 16px */
  --text-md: 1.25rem;    /* 20px */
  --text-lg: 1.5rem;     /* 24px */
  --text-xl: 2rem;       /* 32px */
  --text-2xl: 2.5rem;    /* 40px */
  --text-3xl: 3rem;      /* 48px */
  
  /* Pesos de fonte */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  
  /* Espaçamentos - Regra do 8 (múltiplos de 8px) */
  --space-2xs: 0.25rem;   /* 4px (exceção) */
  --space-xs: 0.5rem;    /* 8px */
  --space-sm: 1rem;      /* 16px */
  --space-md: 1.5rem;    /* 24px */
  --space-lg: 2rem;      /* 32px */
  --space-xl: 2.5rem;    /* 40px */
  --space-2xl: 3rem;     /* 48px */

  /* Gradiente do fundo */
  --bg-gradient: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);


    /* Border radius */
  --radius: 0.5rem;      /* 8px */
  
  /* Sombras */
  --shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  
  /* Transições */
  --transition: 250ms ease-in-out;
}