/* Tipos de descontos */
.discountPercentage {
    background-color: var(--bg-accent);
    color: var(--text-accent);
}

.discountFixedValue {
    background-color: #f9e4ff;
    color: #fe4be3;
}

/* Status */
.statusScheduled {
    background-color: var(--bg-accent);
    color: var(--text-accent);
}

.statusActive {
    background-color: var(--bg-success);
    color: var(--text-success);
}

.statusPaused {
    background-color: var(--bg-warning);
    color: var(--text-warning);
}

.statusExpired {
    background-color: var(--bg-muted);
    color: var(--text-muted);
}

.statusCancelled {
    background-color: var(--bg-error);
    color: var(--text-error); 
}
