

.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;

    width: 60px;
    background-color: var(--bg-light);
    border-right: 1px solid var(--border-light);

    padding: var(--space-xs);
    overflow-y: auto;
    z-index: 100;

    transition: width 0.3s ease, transform 0.3s ease;
}

/* Oculta textos quando colapsado (60px) (mobile + desktop) */
.collapsed span {
    display: none;
}

/* Drawer aberto (mobile) */
.drawerOpen {
    width: 250px;
}

/* BACKDROP DO DRAWER */
.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 50;
}

/* Botão */
.toggleButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: var(--space-xs);
}

.toggleButton:hover {
    background-color: var(--bg-accent);
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    margin-top: var(--space-xs);
}

@media (min-width: 768px) {

    /* Sidebar padrão desktop */
    .sidebar {
        padding: var(--space-sm);
        width: 250px !important;
        /* Padrão Desktop: 250px (Aberto) */
        left: 0 !important;
        /* Cancela qualquer transformação ou 'left' de mobile */
    }

    /* Sidebar colapsada no desktop */
    .collapsed {
        width: 75px !important;
    }

    /* O Drawer não existe no desktop */
    .drawerOpen {
        /* Cancela o aumento de largura do drawerOpen no desktop */
        width: inherit !important;
    }

    .backdrop {
        display: none;
    }

}