.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;

    width: 60px;
    background-color: var(--bg-light);
    border-right: 1px solid var(--border-light);

    padding: var(--space-sm);
    overflow-y: auto;
    z-index: 100;

    transition: width 0.3s ease;
}

/* Drawer no mobile — totalmente fechado por padrão */
.drawerClosed {
    left: -250px;
}

/* Drawer aberto (mobile) */
.drawerOpen {
    left: 0;
    width: 250px;
}

/* BOTÃO DE ABRIR/COLAPSAR */
.toggleButton {
    width: 100%;
    background: none;
    padding: var(--space-sm);
    cursor: pointer;
}

/* Oculta textos quando colapsado (mobile + desktop) */
.collapsed span {
    display: none;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    margin-top: var(--space-sm);
}

/* BACKDROP DO DRAWER */
.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: 50;
}

@media (min-width: 768px) {

    /* Sidebar padrão desktop */
    .sidebar {
        width: 250px !important;
        left: 0 !important; /* Cancela drawer */
    }

    /* Sidebar colapsada no desktop */
    .collapsed {
        width: 60px !important;
    }

    /* Drawer não existe no desktop */
  .drawerClosed,
  .drawerOpen {
    left: 0 !important;
    width: inherit;
  }

    .backdrop {
        display: none;
    }

}