.footer {
    position: static;
    left: 0;
    width: 100%;
    background-color: var(--bg-light);
}

.footer p, .footer a {
    font-size: 0.90rem;
    color: var(--text-light);
}

.footer a {
    text-decoration: underline;
}

.footerContainer {
    text-align: center;
    padding: var(--space-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
}

.circle {
    display: none;
}

@media (min-width: 768px) {

    .footer {
        position: fixed;
        left: 250px;
        bottom: 0;
        right: 0;
        z-index: 100;
        width: auto;
        padding: var(--space-sm);
        transition: left 0.3s ease;
    }

    .collapsedFooter {
        left: 75px;
        right: 0;
        transition: left 0.3s ease;
    }

    .footerContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .details {
        flex-direction: row;
    }

    .circle {
        display: block;
        width: 4px;
        height: 4px;
        background-color: var(--text-light);
        border-radius: 50%;
    }

}